<div
  class="fixed inset-0 z-50 grid place-content-center bg-black/50 p-4"
  role="dialog"
  aria-modal="true"
  aria-labelledby="modalTitle"
>
  <div class="w-full max-w-md rounded-lg p-6 shadow-lg bg-zinc-500 text-gray-300 dark:bg-gray-300 dark:text-gray-700">
    <h2 id="modalTitle" class="text-center text-xl font-bold sm:text-2xl">Sei sicuro?</h2>

    <footer class="mt-6 flex justify-end gap-2">
      <button
        type="button"
        class="rounded px-4 py-2 text-sm font-medium border bg-slate-300 text-zinc-700 dark:border-zinc-500 dark:bg-zinc-500 dark:text-gray-300 hover:bg-transparent dark:hover:text-zinc-500"
        (click)="annul()"
      >
        Annulla
      </button>

      <button
        type="button"
        class="rounded px-4 py-2 text-sm font-medium border border-red-700 bg-red-700 text-white hover:bg-transparent hover:text-zinc-700 dark:hover:text-zinc-500"
        (click)="confirm()"
      >
        Conferma
      </button>
    </footer>
  </div>
</div>
